<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="./img/icon1.png">
    <title>Document</title>
</head>

<body>
    <div class="main-content">
        {{>header}}
        <div class="potrait">
            <img src="./img/img1.jpg" height="300px">
        </div>
    </div>
    {{>footer}}
</body>

</html>